<nav class="nav">
    <a class="nav__link" href="{% url 'swimming:index' %}">🏠 Главная</a>
    <a class="nav__link" href="{% url 'swimming:about' %}">🏊 О плавании</a>
    <a class="nav__link" href="{% url 'swimming:benefits' %}">💪 Польза</a>
    <a class="nav__link" href="{% url 'swimming:styles' %}">📚 Стили</a>
    <a class="nav__link" href="{% url 'swimming:reasons' %}">🌟 Причины</a>
    <a class="nav__link" href="{% url 'swimming:calc_str_get' %}">🧮 Задача</a>
    <a class="nav__link" href="{% url 'swimming:education' %}">🎓 Образование</a>
    <a class="nav__link" href="https://worldaquatics.com/" target="_blank">🌍 World Aquatics</a>
    <a class="nav__link" href="{% url 'swimming:content_list' %}">📄 Контент сайта</a>
    <a class="nav__link" href="{% url 'swimming:education_page' %}">📚 Программа</a>
</nav>